
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout2</title>
</head>
<body>
    <h4>Üst layout başlığı</h4>
    <div> 
        @RenderBody() <!--View klasörünün altındaki buton-cshtml dosyalarının içindeki içerik buraya gelir-->
    </div>
    <h4>Alt layout başlığı</h4>
</body>
</html>
